<div class="col-md-6 offset-md-3" *ngIf="!isLoginSuccessful">

  <h1 class="text-center">Login here</h1><hr>
   <img class="login-image" src="../../assets/images/login.png">

<br>
<amexio-form [formGroup]="loginForm" [header]="true" class="login-form">
    <amexio-form-header>Login form</amexio-form-header>
    <amexio-form-body>
      <amexio-row>
        <amexio-column size="8">
          <amexio-text-input
            formControlName="userName"
            [field-label]="'User Name'"
            [allow-blank]="false"
            [error-msg]="'Please enter user name'"
            [enable-popover]="true"
            [place-holder]="'Please enter user name'"
            [icon-feedback]="false"
          >
          </amexio-text-input>

          <amexio-password-input
            formControlName="password"
            name="passwo"
            [field-label]="'Password'"
            [allow-blank]="false"
            [error-msg]="'Please enter password'"
            [enable-popover]="true"
            [place-holder]="'Please enter password'"
            [icon-feedback]="false"
          >
          </amexio-password-input>


        </amexio-column>
      </amexio-row>
    </amexio-form-body>
    <amexio-form-action>

      <a routerLink="../signup">SignUp</a>

      <amexio-button
      (onClick)="onClickLogin()"
      [disabled]="!loginForm.valid"
        class="col-md-6 offset-md-3"
        [label]="'Save'"
        [type]="'theme-color'"
        [tooltip]="'toolTip'"
        [icon]="'icon'"
        [disabled]="false"
        [form-bind]="'form-bind'"
        [size]="'small'"
        [loading]="false"
        [block]="false"
      >
      </amexio-button>
    </amexio-form-action>
  </amexio-form>
</div>



