<app-navbar></app-navbar>
<div class="showbooks col-md-6 offset-md-3" *ngIf="!updateBook">
  <hr />
  <br /><br />
  <amexio-row>
    <amexio-column [size]="3">
      <amexio-text-input
        place-holder="Search Book here"
        icon-feedback="true"
        [(ngModel)]="bookNameForSearch"
      >
      </amexio-text-input
    ></amexio-column>

    <amexio-button
      (onClick)="searchBookByName()"
      class="search-button"
      [label]="'Search'"
      [type]="'theme-color'"
      [tooltip]="'toolTip'"
      [icon]="'icon'"
      [form-bind]="'form-bind'"
      [size]="'medium'"
    >
    </amexio-button>
  </amexio-row>

  <amexio-card
    class="col-md-6 offset-md-3"
    [header]="false"
    [footer]="true"
    [footer-align]="'right'"
    *ngFor="let book of allBooks"
  >
    <amexio-body>
      <amexio-label size="small-bold">{{ book.bookName }}</amexio-label>
      <br /><br />
      <amexio-label size="default"> {{ book.discription }} </amexio-label><br />
      <amexio-label size="small"> -{{ book.authorName }} </amexio-label>
    </amexio-body>
    <amexio-action>
      <amexio-button
        (onClick)="onDeleteClickDeleteBook(book.bookId)"
        [label]="'Delete'"
        [tooltip]="'delete'"
        [icon]="'fa fa-trash'"
        [type]="'danger'"
      >
      </amexio-button>
      <amexio-button
        (onClick)="onUpdateClick(book)"
        [label]="'Update'"
        [type]="'primary'"
      >
      </amexio-button>
    </amexio-action>
  </amexio-card>
</div>

<div *ngIf="updateBook">
  <app-update-book [bookToUpdateWithAllData]="bookToUpdateWithAllData"></app-update-book>
</div>
