<!-- <a routerLink=''><h2>Login Application</h2></a> -->

<amexio-row>
  <amexio-column class="fixed">
    <amexio-nav amexioColorPalette [color-palette]="'primary'" [class]="'header-style'">
      <amexio-nav-item
        position-left
        [type]="'menu'"
        (onNavItemClick)="onClickHome()"
        [title]="'Home'"
      >
      </amexio-nav-item>

      <amexio-nav-item
        position-left
        [type]="'menu'"
        (onNavItemClick)="onClickShowAllBook()"
        [title]="'Show Book'"
      >
      </amexio-nav-item>

      <amexio-nav-item
        position-left
        [type]="'menu'"
        (onNavItemClick)="onClickAddBook()"
        [title]="'Add Book'"
      >
      </amexio-nav-item>

      <amexio-nav-item
        position-left
        [type]="'menu'"
        (onNavItemClick)="logout($event)"
        [title]="'Log out'"
      >
      </amexio-nav-item>
      <!-- <button (click)="logout($event)">Logout</button> -->
    </amexio-nav>
  </amexio-column>
</amexio-row>
