
<div class="image"></div>
<div class="bootstrap-wrapper col-md-6 offset-md-3">
  <br><br><br><br><br>
  <div class="container text-center home">
    <h1 class="welcome-heading">Welcome to Book Store App</h1><hr>
    <h3><a routerLink="../auth/login">Login</a></h3><br>
    <h3>No account? <a routerLink="../auth/signup">Sign Up</a></h3>
    <!-- <button (click)="logout($event)">Logout</button> -->
    <amexio-image
      path="../../assets/images/2f3bdb9733c4a68659dc2900a7595fea.png"
    >
    </amexio-image>
  </div>
</div>



